@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Inter';
    font-style: normal;
    /* border: 1px solid black; */
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.app-device {
    display: none;
}

@media screen and (max-width: 300px) {
    .app {
        display: none;
    }

    .app-device {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: #101828;
    }

    .device-small {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        color: #667085;
    }
}

.partner_right-motion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #E5F0B6;
}